/************ Generall ************/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

img{
    width:100%
}

/************ Main Style ************/

/*---------- Area1 ----------*/

/************ Imports ************/

/************ Keyframes ************/

/************ Responsive ************/
@media screen and (min-width: 800px) { /*pc*/
    main{
        
    }
}

@media screen and (max-width: 800px) { /*phone*/
    main{
        
    }
}
/************ Variables ************/
:root {
    --color-accent: red;
    --color-contrast: white;
    --gray-1:rgb(30, 30, 30);
    --gray-2:rgb(50, 50, 50);
    --gray-3:rgb(70, 70, 70);
    --gray-4: rgb(90, 90, 90);
    --gray-5: rgb(110, 110, 110);
}